<a href="https://colab.research.google.com/github/ysooch0819/AI16-Projects/blob/main/n513%20%EA%B0%95%EC%9D%98%EB%85%B8%ED%8A%B8%ED%95%99%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 인트로 코딩
# 난수 다루기(1~100 사이 정수형 난수를 구하자.)
# 정수를 입력받고, 입력숫자가 출력될 때까지 입력숫자만큼 반복하여 난수를 출력하고 1개의 종료메시지를 띄우시오.
import random

input_num = int(input())

for i in range(input_num):
    ran_num = random.randint(1,100)
    print(ran_num, end = ' ')
    
    if ran_num == input_num:
        print("input random number print")
        continue
else:
    print('exit')

7
93 93 2 90 6 24 32 exit

In [2]:
# 절차 프로그래밍(Procedural Programming, 일명 PP)
# 조건 또는 기능이 증가할 때마다 함수와 변수 같은 요소가 계속 증가할 수 있으므로 비효율적이다.
# 케이스 1: 함수활용
def carAttribute():
    speed = 50
    color = 'black'
    model = 'CarModel'
    return speed,color,model

# return값을 통해 함수 요소값을 확인할 수 있다.
print("Car Attribute: ", carAttribute())

# 케이스 2: 변수활용
speed = 50
color = 'black'
model = 'CarModel'

# 해당 변수를 각각 명시해주어야 한다.
print("Car Attribute: ", speed,color,model)

Car Attribute:  (50, 'black', 'CarModel')
Car Attribute:  50 black CarModel

In [3]:
# OOP / 기능에 따라 Car클래스 안에 있는 함수와 변수만 추가해주면 된다.
# 아래와 같이 클래스 선언 순서에 관계없이 실행된다.
# 절차 프로그래밍과 다르게 기능별로 수행되기 때문이다.
class Bus:
    def __init__(self, speed, color):
        self.speed = speed
        self.color = color

    def drive_bus(self):
        self.speed = 70

class Car:
    def __init__(self, speed, color, model):
        self.speed = speed
        self.color = color
        self.model = model

    def drive(self):
        self.speed = 50

myCar = Car(0, "green", "testCar")
print("--------Car Object Create Complete--------")
print("Car Speed: ", myCar.speed)
print("Car Color: ", myCar.color)
print("Car Model: ", myCar.model)

myBus = Bus(0, 'black')
print("--------Bus Object Create Complete--------")
print("Bus color: ", myBus.color)


# 운전 중이 아니므로 speed는 0을 출력한다.
print("--------Car/Bus Speed 1--------")
print("Car Speed by drive: ", myCar.speed)
print("Bus Speed by drive: ", myBus.speed)

# Car/Bus object method Call
myCar.drive()
myBus.drive_bus()

# 각각의 개체가 각자의 속도로 움직이고 있다.
print("--------Car/Bus Speed 2--------")
print("Car Speed by drive: ", myCar.speed)
print("Bus Speed by drive: ", myBus.speed)

--------Car Object Create Complete--------
Car Speed:  0
Car Color:  green
Car Model:  testCar
--------Bus Object Create Complete--------
Bus color:  black
--------Car/Bus Speed 1--------
Car Speed by drive:  0
Bus Speed by drive:  0
--------Car/Bus Speed 2--------
Car Speed by drive:  50
Bus Speed by drive:  70

In [4]:
# 도서관 예시 - 절차지향적 프로그래밍 관점
member_list = ['kim', 'lee', 'park', 'choi']
book_list = ['book1', 'book2']
lend_list = {'kim' : 'book3'}

# 신간이 들어왔다
book_list.append('book4')

# 책을 빌리면 도서 목록에서 삭제되고, 빌린 목록에 대여한 사람과 함께 추가된다.
book_list.remove('book1')
lend_list['choi'] = 'book1'

# 책을 반납하면 북 리스트에 책이 다시 돌아오고 빌린 리스트에서 삭제된다.
book_list.append(lend_list['kim'])
del(lend_list['kim'])

print(book_list)
print(lend_list)

['book2', 'book4', 'book3']
{'choi': 'book1'}

In [5]:
# 아래 코드의 실행 결과를 확인한다.
num_data = 7
str_data = 'AIBootcamp'
list_data = [1,2,3]
dict_data = {'a':1, 'b':2}

print(type(num_data))
print(type(str_data))
print(type(list_data))
print(type(dict_data))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [7]:
list_a = [3,4,1,6,9,2]

# 같은 기능을 하는 이 두 메소드의 차이는 무엇일까?
print(list_a.sort())
print(sorted(list_a))

None
[1, 2, 3, 4, 6, 9]

In [12]:
class Encap:
    def __init__(self, value):
        self.value = value
        print('init:', self.value)
    
    def _set(self):
        print('set:', self.value)
    
    def printTest(self):
        print('printTest:', self.value)
    
    def __printTest2(self):
        print('printTest:', self.value)


e = Encap(10)

e.__init__(20)
e._set()
e.printTest()
# e.__printTest2()
print('\n')

e.__init__(30)
e._set()
e.printTest()

init: 10
init: 20
set: 20
printTest: 20


init: 30
set: 30
printTest: 30

In [13]:
class Person:
  def __init__(self, name):
    self.name = name
  
class Student(Person):
  def study(self):
    print(self.name + " studies hard")

class Employee(Person):
  def work(self):
    print(self.name + " works hard")


s = Student("Dave")
e = Employee("David")

s.study()
e.work()

Dave studies hard
David works hard

In [17]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def printPerson(self, name, age):
    print("Person_printPerson:", name, age)

class Student:
  def __init__(self, name, age, id):
    self.person = Person(name, age)
    Person.__init__(self, name, age)
    self.id = id
  
  def test(self, score):
    if score > 80:
      return (self.person.printPerson(self.name, self.age))
    else:
      print(self.name + " needs supplementary lessons")

s = Student("Dave", 20, 1)

print("s.name", s.name)
print("s.age", s.age)
print("s.id:", s.id)
print('\n')

s.name Dave
s.age 20
s.id: 1

In [15]:
s2 = Student("Jamie", 25, 2)
print("s2.name:", s2.name)
print("s2.age:", s2.age)
print("s2.id:", s2.id)
print('\n')

s2.name: Jamie
s2.age: 25
s2.id: 2

In [18]:
print('-- test score result --')
s.test(90)
s2.test(11)

-- test score result --
Person_printPerson: Dave 20
Jamie needs supplementary lessons

In [19]:
class Bill():
  def __init__(self, description):
    self.description = description
  
class Tail():
  def __init__(self, length):
    self.length = length

class Duck():
  def __init__(self, bill, tail):
    self.bill = bill
    self.tail = tail
  
  def about(self):
    print(f"This duck has a {self.bill.description} and a {self.tail.length}.")

duck = Duck(Bill('bill object'), Tail('tail object'))

duck.about()

This duck has a bill object and a tail object.

In [25]:
from abc import ABCMeta, abstractmethod

# 추상 클래스
class People(metaclass=ABCMeta):
  # 추상 메소드 선언
  # 추상클래스로 선언해놓고 상속받는 클래스에서 구현하지 않으면 오류 발생
  @abstractmethod
  def character(self):
    pass
  
  def working(self):
    pass

# 상속받는 클래스
class Student(People):
  def character(self, pow, int):
    self.pow = pow
    self.int = int

    print('체력: {0}'.format(self.pow))
    print('지능: {0}'.format(self.int))

# 상속받는 클래스 2: character 추상 메소드 구현x
class Driver(People):
  def character(self, name, age):
    self.name = name
    self.age = age

    print('이름: {0}'.format(self.name))
    print('나이: {0}'.format(self.age))

  def working(self):
    print('일하는 중')

s1 = Student()
print('Student: ')

s1.character(10, 100)
print(s1.int)
print('\n')
d1 = Driver()
print('Driver: ')
d1.character("Chen", 38)
d1.working()

Student:
체력: 10
지능: 100
100


Driver:
이름: Chen
나이: 38
일하는 중

In [44]:
#다형성
class Slimes:
  def __init__(self):
    self.hp = 100
    self.attack_power = 50
    self.status = 1 # 1 살아있음 0 죽어있음
  def get_damage(self):
    if self.status == 1:
      self.hp -= self.attack_power
      if self.hp <=0:
        self.hp =0
        self.status = 0
        print('Slime is dead!!!')
    else:
      print('This slime has already dead. Kill other slimes!!')

class Slime_Yellow(Slimes):
  pass

class Slime_Blue(Slimes):
  def __init__(self):
    super().__init__()
    self.attack_power = int(self.attack_power * 0.8)
  def get_damage(self):
    if self.status == 1:
      self.hp -= self.attack_power
      if self.hp <=0:
        self.hp = 0
        self.status = 0
        print('Blue Slime is dead!! You get 100 Gold')
    else:
      print('This slime has already dead. Kill other slimes!!')

class Slime_Purple(Slimes):
  def __init__(self):
    super().__init__()
    self.attack_power = int(self.attack_power * 0.5)
  def get_damage(self):
    if self.status == 1:
      self.hp -= self.attack_power
      if self.hp <=0:
        self.hp =0
        self.status =0
        print('Purple Slime is dead!! You get 300 Gold')
    else:
      print('This slime has already dead. Kill other slimes!!')

Slime_1 = Slime_Yellow()
print(Slime_1.hp)
Slime_1.get_damage()
print('Slime_1 hp:',Slime_1.hp)
Slime_1.get_damage()
print('Slime_1 hp:',Slime_1.hp)

100
Slime_1 hp: 50
Slime is dead!!!
Slime_1 hp: 0

In [45]:
Slime_2 = Slime_Blue()
Slime_2.get_damage()
print('Slime_2 hp:',Slime_2.hp)
Slime_2.get_damage()
print('Slime_2 hp:',Slime_2.hp)
Slime_2.get_damage()
print('Slime_2 hp:',Slime_2.hp)

Slime_2 hp: 60
Slime_2 hp: 20
Blue Slime is dead!! You get 100 Gold
Slime_2 hp: 0

In [46]:
Slime_3 = Slime_Purple()
# 슬라임 제거하기: hp=0 만들기
Slime_3.get_damage()
print('Slime_3 hp:',Slime_3.hp)
Slime_3.get_damage()
print('Slime_3 hp:',Slime_3.hp)
Slime_3.get_damage()
print('Slime_3 hp:',Slime_3.hp)
Slime_3.get_damage()
print('Slime_3 hp:',Slime_3.hp)

Slime_3 hp: 75
Slime_3 hp: 50
Slime_3 hp: 25
Purple Slime is dead!! You get 300 Gold
Slime_3 hp: 0

In [48]:
Slime_3.get_damage() # Purple Slime is dead!!!, You get 300 Gold

This slime has already dead. Kill other slimes!!

In [47]:
Slime_4 = Slime_Purple()
# 슬라임 제거하기: hp=0 만들기
Slime_4.get_damage()
Slime_4.get_damage()
Slime_4.get_damage()
Slime_4.get_damage()
print('Slime_4 hp:',Slime_4.hp)

# 확인하기
Slime_4.get_damage()

Purple Slime is dead!! You get 300 Gold
Slime_4 hp: 0
This slime has already dead. Kill other slimes!!

In [49]:
# 오해하지 않도록 코드를 작성하자.
# foo: 프로그래밍 상에서 임시로 변수이름을 지정해줘야 할 때 주로 쓰이는 변수 이름이다.
foo = ''

# 가독성 좋음
if foo is not None: # 한 번만 해석하면 된다. (A는 B가 아니다.)
    print('가독성 좋음')

# 가독성 좋지 않음
if not foo is None: # 두 번 해석해야된다. (A가 아닌 것은 None이다.)
    print('가독성 좋지 않음')

가독성 좋음
가독성 좋지 않음

![image.png]()

In [50]:
class User:
  def __init__(self, name, is_admin=False):
    self.name = name
    self.is_admin = is_admin

In [53]:
class Admin(User):
  def __init__(self, name):
    super().__init__(name, is_admin=True)

class Customer(User):
  def __init__(self, name):
    super().__init__(name)
    self.purchases = []
  
  def purchase_product(self, product):
    purchase = Purchase(product, self)
    self.purchases.append(purchase)

class Vendor(User):
  def __init__(self, name):
    super().__init__(name)
    self.products = []
  
  def create_product(self, product_name, product_price):
    product = Product(product_name, product_price, self)
    self.products.append(product)

In [52]:
from datetime import datetime

class Product:
  def __init__(self, name, price, vendor):
    self.name = name
    self.price = price
    self.vendor = vendor
  
class Purchase:
  def __init__(self, product, customer):
    self.product = product
    self.customer = customer
    self.purchase_price = product.price
    self.purchase_data = datetime.now()

In [54]:
class MyFirstClass:
    pass

a = MyFirstClass()  # 인스턴스화(메모리할당됨)

print(a)

<__main__.MyFirstClass object at 0x7f05397b60a0>

In [61]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        self.__private_name = "private 접근"

class Point_sub(Point):
    def __init__(self,x, y):
        Point.__init__(self,x,y)
        self.x = x
        self.y = y

    def __sub(self):
        self.__x = 10
        self.__y = 20

    def sub(self):
        self.__sub()
        print(self.__x)
        print(self.__y)
 
my_point = Point(1, 2)
my_point_sub = Point_sub(100,200)

# case 1 - error case: private 으로 해당코드로 접근할 수 없다
# print(my_point.__private_name)

# case 2
# 클래스 생성자에 있는 private변수에 접근하기위해 '_클래스이름__private변수' 를 활용한다.
print(my_point._Point__private_name)

# case 3
print('case3 ------------')
my_point_sub.sub()    # 변환된 이름에 대해 값 출력
# my_point_sub.__sub()
print(my_point_sub.x, my_point_sub.y)

private 접근
case3 ------------
10
20
100 200